*{
	margin: 0; padding: 0;
}

.cabecera{
	width: 960px;
	height: 50px;
	margin: 50px 650px;
}

nav{
	width: 960px;
	height: 50px;
}

.menu{
	width: 960px;
	height: 50px;
	margin-left: 300px;
}

.menu li{
	width: 236px;
	height: 50px;
	float: left;
	list-style: none;
	line-height: 50px;
	text-align: center;
	border: solid 1px black;
}

.contenido{
	margin-top: 20px;
	margin-left: 300px;
}

aside{
	width: 200px;
	height: 600px;
	border: solid 1px black;
	text-align: center;
	float: left;
}

section{
	width: 750px;
	height: 600px;
	margin-right: 325px;
	float: right;
}

section .titulo{
	margin-top: 10px;
}

.info1, .info2{
	height: 150px;
	width: 750px;
	margin-top: 50px;
	text-align: justify;
}

footer{
	width: 960px;
	height: 70px;
	margin: 640px 300px;
	border: solid 1px black;
}